[Unit]
Description=Create Stream Service
After=network.target mediamtx.service
Requires=mediamtx.service

[Service]
User=max
WorkingDirectory=/etc/raspap/api
EnvironmentFile=/etc/raspap/api/.env
ExecStart=./scripts/createStream.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target