[Unit]
Description=Create Stream Service
After=network.target mediamtx.service
Wants=mediamtx.service

[Service]
User=max
WorkingDirectory=/etc/raspap/api
EnvironmentFile=/etc/raspap/api/.env
ExecStart=/etc/raspap/api/scripts/createStream.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target