[Unit]
Description=MediaMTX Service
After=network.target

[Service]
User=max
WorkingDirectory=/etc/raspap/api
ExecStart=/usr/local/bin/mediamtx /etc/raspap/api/mediamtx_config.yml
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
