[Unit]
Description=raspap-restapi
After=network.target createStream.service
Wants=createStream.service

[Service]
User=max
WorkingDirectory=/etc/raspap/api
LimitNOFILE=4096
ExecStart=/etc/raspap/api/.venv/bin/python3 -m uvicorn backend.main:app --host 0.0.0.0 --port 8081 --ssl-keyfile /etc/raspap/api/certs/server.key --ssl-certfile /etc/raspap/api/certs/server.crt
ExecStop=/bin/kill -HUP ${MAINPID}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target